In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('tegr3_tec_holders.csv')

In [5]:
df

                                        address       balance
0    0x5584e380c5ba129ccb5c1ce89c2e9d66881f4800  1.425657e+05
1    0x5b7575494b1e28974efe6ea71ec569b34958f72e  1.060533e+05
2    0x839395e20bbb182fa440d08f850e6c7a8f6f0780  7.930983e+04
3    0xdf290293c4a4d6ebe38fd7085d7721041f927e0a  6.933751e+04
4    0xf41deff41016216346270e302dc0a5dd4913dada  5.779795e+04
..                                          ...           ...
727  0x2723875bff110974e712019e4ab631dcac97910d  2.868971e-09
728  0x0b58857708a6f84e7ee04beaef069a7e6d1d4a0b  1.150511e-10
729  0x1111111254eeb25477b68fb85ed929f73a960582  1.000000e-18
730  0x1111111254fb6c44bac0bed2854e76f90643097d  1.000000e-18
731  0x8cc2284c90d05578633418f9cde104f402375a65  1.000000e-18

[732 rows x 2 columns]

In [6]:
df = df[df['balance'] >= 1]

In [8]:
df.to_csv('tegr3_tec_holders.csv', index=False)

In [9]:
df

                                        address        balance
0    0x5584e380c5ba129ccb5c1ce89c2e9d66881f4800  142565.707754
1    0x5b7575494b1e28974efe6ea71ec569b34958f72e  106053.271906
2    0x839395e20bbb182fa440d08f850e6c7a8f6f0780   79309.832505
3    0xdf290293c4a4d6ebe38fd7085d7721041f927e0a   69337.513233
4    0xf41deff41016216346270e302dc0a5dd4913dada   57797.945683
..                                          ...            ...
453  0xa9ccd6b0919e43fd7cfc990572e43c3cf6a17397       1.144189
454  0xe882c0cbb836c34447dc58f74c08f373a6d37cd8       1.019142
455  0xe89c2545e4e05a79d21351cdeeda4651ca48debc       1.011994
456  0x9b04a9eee500302980a117f514bc2de0fd1f683d       1.008996
457  0xdc8cd7cf5c9bf25aedaf9c01bf3f992354f95081       1.000713

[458 rows x 2 columns]